
.head-container{
  font-family: 'Montserrat', sans-serif;

  border-radius: 10px;
  padding: 10px;
}

.product-img{
  width: 250px;
  border-radius: 5px;
}

.product-description{
  margin: 20px 0px 20px 0px;
  background-color: #fafafa;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.product-price{
  color: grey;
    font-family: 'Inter', sans-serif;
}

.whatsapp-bg{
  background: 	#25D366;
  color: #ffffff;
  padding: 3px;
  border-radius: 3px;
}

.sold-img{
  width: 70px;
}
