


.head-container{
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  border-radius: 10px;
  color: #9656FF;
  padding: 10px;
}


.category-title{
  margin: 50px 0px 50px 0px;
  background-color: #FFD3C7;
  width: 150px;
  color: #F9643C;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.product-img{
  width: 250px;
  border-radius: 5px;
}

.product-description{
  margin: 20px 0px 20px 0px;
  background-color: #fafafa;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}

.product-price{
  color: grey;
}
